# API URL for frontend to connect to backend
VITE_API_URL=http://localhost:8000

# Google OAuth Client ID (for Google Login)
VITE_GOOGLE_CLIENT_ID=307479983859-bsvagitmjh882ren4l5ravor7v2lp8nj.apps.googleusercontent.com
