/* ScrambledText.css */
.text-block {
  position: relative;
  display: inline-block;
  cursor: default;
}

.scramble-p {
  margin: 0;
  padding: 0;
}

.char {
  display: inline-block;
  white-space: pre-wrap;
  transition: color 0.2s;
}
